<nav class="navbar sticky-top navbar-expand-lg " id="app-navbar">
  <div class="container">
      <a class="navbar-brand" href="#">Course Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" nav navbar-nav ms-auto">
     
    
  
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']">Logout</a>
</li>
    </ul>
  </div>
  </div>
</nav>
<br>

<div class="container"style="background-color: blanchedalmond;"><br>
  <button class="btn btn-outline-warning" (click)="back()">Back</button>
    <div class="row">
      <div class="col-md-2">
              </div>
        <div class="col-md-8">
          <br>
         <div>                        
                               <table class="table table-striped" >
                                 <thead>
                                   <tr>   
                                    <th scope="col">#</th>                           
                                   <th>StudentName</th>
                                    <th>CourseName</th>   
                                   
                                   <th><span class="m-lg-5">Action</span></th>                    
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr *ngFor='let ca of cs; let i = index' 
                                   >
                                    <th>{{i+1}}</th>
                                   
                                     <td>{{ca.Sname}}</td>                             
                                     
                                     <td>{{ca.Cname}}</td> 
                                                     
                                    <td><button class="btn btn-outline-success" (click)="approve(ca)">Approve</button>&nbsp;
                                      <button class="btn btn-outline-danger" (click)="reject(ca)">Reject</button>
                                    </td> 
                                    
                                   </tr>   
                                                                      

                                 </tbody>
                               </table>
                             </div>
                           </div>
                           
                         </div>
                        
                         <br><br><br><br><br><br><br><br><br><br>  
                         
                         <br><br><br><br><br><br><br><br>
                         
    </div>
